<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Buzz Lobby</title>
    <link rel="stylesheet" type="text/css" href="/file/css/style.css">
  </head>
  <body>
    <h1>Buzz Lobby</h1>

    <div class="form-input">
      <h3>Join an existing game</h3>
      <input
        id="username"
        type="text"
        name="username"
        class="form-control"
        placeholder="Username"
        required pattern="[^\s].{0,30}" autofocus
      >
      <input
        id="game_ext_id"
        type="text"
        name="Game ID"
        class="form-control"
        placeholder="Game ID"
        required pattern="[a-zA-Z]{8}"
      >
      <button type="submit" class="btn btn-primary" onclick="join();">Join</button>
    </div>
    <div>
      <div class="form-input">
        <h3>Create a game</h3>
        <input
          id="username_create"
          type="text"
          name="username"
          class="form-control"
          placeholder="Username"
          required pattern="[^\s].{0,30}"
        >
        <button type="submit" class="btn btn-primary" onclick="create();">Create</button>
      </div>
    </div>

    <script src="/file/js/landing_page.js"></script>
  </body>
</html>
